.navbar{
    display: flex;
    flex-direction: row;
    width: 335px;
    height: 100vh;
    border: 1px solid gray;
    transition: width 0.3s ease;
}

.navbar.change{
    width: 100px;
    border-top: none;
    border-bottom: none;
}

.navbar-containers{
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    justify-content: space-between;
}

.navlinks{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 5px;
    gap: 20px;
    height: 70%;
    transition: width 0.3s ease;
}

.navlinks a{
    text-decoration: none;
    color: black;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s ease;
}

.navlinks a:hover{
    background-color: rgba(128, 128, 128, 0.226);
}

.navlinks a:focus{
    background-color: rgba(128, 128, 128, 0.226);
    color: black;
    font-weight: 600;
}

/* .navlinks .active span{
    color: black;
    font-weight: 600;
} */


.profile-pic{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

.more-options{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 12px;
}

.more-options:hover{
    background-color: rgba(128, 128, 128, 0.226);
}

.logo{
    width: 137px;
    height: 67px;
    transition: width 0.3s ease;
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom: 5px 
}

.logo.change{
    margin-top: 28px;
    margin-left: 0px;
    margin-bottom: 5px;
    width: 93px;
    height: 68px;
}

.more-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more-options .breadcrumb{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 40px;
}

.more-options .line{
    width: 100%;
    margin-top: 5px;
    height: 4px;
    border-radius: 30px;
    background-color: black;
}

.options-container{
    display: flex;
    flex-direction: column;
    width: 278px;
    position: absolute;
    left: 1%;
    top: 77%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 12px;
    background-color: white;
    color: black;
    align-items: center;
    cursor: pointer;
    z-index: 11;
}

.option-item{
    width: 96%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.option-item:hover{
    background-color: rgba(128, 128, 128, 0.226);
}

.option-item .settings-icon{
    margin-left: 15px;
}

.option-item .settings-text{
    margin-left: 5px;
}

.option-item .logout-text{
    margin-left: 20px;
}


@media screen and (max-width: 1095px){

   .navbar{
        width: 100px;
    }

   .navbar-containers{
        width: 100px !important;
    }

    .navlinks a {
       width: 50px;
    }

}

@media screen and (max-width: 780px){

    .navbar-containers {
        display: flex;
        flex-direction: row;
    }

    .navlinks {
        display: flex;
        flex-direction: row;
        height: fit-content;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .navlinks a {
        width: 17vw;
    }

    .navbar {
        width: 101vw;
        height: 53px;
        background: white;
        z-index: 100;
        position: fixed;
        bottom: 0%;
        border-top: 1px solid rgba(128, 128, 128, 0.644);
    }

    .profile-page {
        display: flex;
        position: static;
        left: 0;
        height: 100vh !important;
        width: 100%;
        align-content: center;
        justify-content: center;
        overflow-y: scroll;
    }

    .logo.change {
        display: none;
    }

    .navbar .search-container {
        border-left: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: white;
        margin-left: 0;
        top: -27rem;
        width: 1rem;
        border-top: none;
        border-bottom: none;
        height: 100vh;
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, width 0.5s ease;
    }

    .navbar .search-container.visible {
        opacity: 1;
        width: 100vw;
        z-index: 10;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        top: -99vh;
        left: -25.5vw;
    }

    .more-options {
        margin-left: 13vw;
    }

    .more-options .breadcrumb {
        width: 25px;
        height: 28px;
    }

    .profile {
        height: 100vh;
    }

    .options-container {
        left: 24%;
        top: -242%;
    }

    .search h2 {
        margin-left: 28px !important;
        margin-top: 20px !important;
    }

    .search input {
        width: 89vw !important;
        margin-top: 50px;
        margin-left: 5vw;
        height: 45px;
    }
}
